/* Global */

*{
    margin: 0;
    padding: 0;
    font-family: 'Neuton', serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 10px 60px;
}

.header {
    width: 100%;
}

/* Homepage */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    flex: 1;
    text-align: right;
}

.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}
.navlinks ul li a {
    color: #201E1F;
    text-decoration: none;
    font-size: 25px;
}

.hero img{
    width: 100%;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 80px;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav .fas {
    display: none;
}

/* Welcome */
h3 {
    color: #201E1F;
    font-size: 35px;
    text-align: center;
    margin: 20px;
    font-family: Tajawal, serif;
}

.row {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #FEEFDD;
    margin-bottom: 50px;
}

.row img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 0 50px 0 50px;
}

.row:nth-child(odd){
    background-color: white;
}

.row:nth-child(even) {
    background-color: #FEEFDD;
}

.text-box h4 {
    font-size: 25px;
    text-decoration: underline #FF4000 2px;
    text-underline-position: under;
    margin-bottom: 10px;
    margin: 0 50px 0 50px;
}

.text-box p  {
    font-family: tajawal;
    color: #201E1F;
    font-size: 20px;
    margin: 10px 50px 10px 50px;
}

button {
    color: #FF4000;
    background: none;
    font-family: tajawal;
    border: none;
    font-size: 18px;
    margin-left: 50px;
    text-decoration: underline 2px;
    
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    position: sticky;
    background-color: #50B2C0;
}

.footer p {
    text-align: center;
}

/* Media query */

@media screen and (max-width: 700px) {
    body {
        padding: 0;
    }

    nav {
        padding: 15px;
    }

    .navlinks ul li {
        display: block;
    }

    .navlinks {
        position: absolute;
        background: #FC7A64;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .navlinks ul li a {
        font-size: 15px;
    }

    h1 {
    top: 12%;
    font-size: 25px;
    }

    nav .fas {
        display: block;
        color: black;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .navlinks ul {
        padding: 35px;
    }

    .row {
        max-height: 100%;
        max-width: 100%;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .row img {
        width: 50%;
        height: 70%;
    }

}