/* Global */

*{
    margin: 0;
    padding: 0;
    font-family: 'Neuton', serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 10px 60px;
}

.header {
    width: 100%;
}

/* Homepage */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    flex: 1;
    text-align: right;
}

.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}
.navlinks ul li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.hero img{
    width: 100%;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 80px;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav .fas {
    display: none;
}

/* Welcome */
h3 {
    font-size: 35px;
    text-align: center;
    margin: 20px;
    font-family: Tajawal, serif;
}

.row {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

.row img {
    height: 400px;
    width: 100%;
    flex: 1;
}

.text-box {
    flex: 1;
    margin-left: 10%;
}

.text-box h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 20px;
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    position: sticky;
    background-color: #FC7A64;
}

.footer p {
    text-align: center;
}

/* Media query for Homepage */

@media screen and (max-width: 700px) {
    body {
        padding: 0;
    }

    nav {
        padding: 15px;
    }

    .navlinks ul li {
        display: block;
    }

    .navlinks {
        position: fixed;
        background: #FC7A64;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .navlinks ul li a {
        font-size: 15px;
    }

    h1 {
    top: 12%;
    font-size: 25px;
    }

    nav .fas {
        display: block;
        color: black;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .navlinks ul {
        padding: 35px;
    }

    .row {
        flex-direction: column;
    }

    .row img {
        height: 100px;
    }
}

/* Event page */
.events {
    font-family: Tajawal, serif;
}
.eventimg {
    height: 400px;
}

/* Media query for Event page */

@media screen and (max-width: 700px) {

    .row {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .text-box {
        margin: auto;
    }

}